In [86]:
import numpy as np 
import pandas as pd

In [87]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

importing the pulsar dataset

In [88]:
data = '/content/drive/MyDrive/pulsar_stars.csv'

df = pd.read_csv(data)
df

        Mean of the integrated profile  ...  target_class
0                           140.562500  ...             0
1                           102.507812  ...             0
2                           103.015625  ...             0
3                           136.750000  ...             0
4                            88.726562  ...             0
...                                ...  ...           ...
17893                       136.429688  ...             0
17894                       122.554688  ...             0
17895                       119.335938  ...             0
17896                       114.507812  ...             0
17897                        57.062500  ...             0

[17898 rows x 9 columns]

exploratory data analysis

In [89]:
df.shape

(17898, 9)

In [90]:
df.head()

    Mean of the integrated profile  ...  target_class
0                       140.562500  ...             0
1                       102.507812  ...             0
2                       103.015625  ...             0
3                       136.750000  ...             0
4                        88.726562  ...             0

[5 rows x 9 columns]

In [91]:
df.tail()

        Mean of the integrated profile  ...  target_class
17893                       136.429688  ...             0
17894                       122.554688  ...             0
17895                       119.335938  ...             0
17896                       114.507812  ...             0
17897                        57.062500  ...             0

[5 rows x 9 columns]

In [92]:
df.describe()

        Mean of the integrated profile  ...  target_class
count                     17898.000000  ...  17898.000000
mean                        111.079968  ...      0.091574
std                          25.652935  ...      0.288432
min                           5.812500  ...      0.000000
25%                         100.929688  ...      0.000000
50%                         115.078125  ...      0.000000
75%                         127.085938  ...      0.000000
max                         192.617188  ...      1.000000

[8 rows x 9 columns]

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17898 entries, 0 to 17897
Data columns (total 9 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0    Mean of the integrated profile                17898 non-null  float64
 1    Standard deviation of the integrated profile  17898 non-null  float64
 2    Excess kurtosis of the integrated profile     17898 non-null  float64
 3    Skewness of the integrated profile            17898 non-null  float64
 4    Mean of the DM-SNR curve                      17898 non-null  float64
 5    Standard deviation of the DM-SNR curve        17898 non-null  float64
 6    Excess kurtosis of the DM-SNR curve           17898 non-null  float64
 7    Skewness of the DM-SNR curve                  17898 non-null  float64
 8   target_class                                   17898 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 1.2 MB

In [94]:
df.isnull().sum()

 Mean of the integrated profile                  0
 Standard deviation of the integrated profile    0
 Excess kurtosis of the integrated profile       0
 Skewness of the integrated profile              0
 Mean of the DM-SNR curve                        0
 Standard deviation of the DM-SNR curve          0
 Excess kurtosis of the DM-SNR curve             0
 Skewness of the DM-SNR curve                    0
target_class                                     0
dtype: int64

In [95]:
col_names = df.columns
col_names

Index([' Mean of the integrated profile',
       ' Standard deviation of the integrated profile',
       ' Excess kurtosis of the integrated profile',
       ' Skewness of the integrated profile', ' Mean of the DM-SNR curve',
       ' Standard deviation of the DM-SNR curve',
       ' Excess kurtosis of the DM-SNR curve', ' Skewness of the DM-SNR curve',
       'target_class'],
      dtype='object')

DATACLEANING

In [96]:
df.columns = df.columns.str.strip()

In [97]:
df.columns

Index(['Mean of the integrated profile',
       'Standard deviation of the integrated profile',
       'Excess kurtosis of the integrated profile',
       'Skewness of the integrated profile', 'Mean of the DM-SNR curve',
       'Standard deviation of the DM-SNR curve',
       'Excess kurtosis of the DM-SNR curve', 'Skewness of the DM-SNR curve',
       'target_class'],
      dtype='object')

FEATURE SCALING

In [98]:
X = df.drop(['target_class'], axis=1)

y = df['target_class']

In [99]:
X

       Mean of the integrated profile  ...  Skewness of the DM-SNR curve
0                          140.562500  ...                     74.242225
1                          102.507812  ...                    127.393580
2                          103.015625  ...                     63.171909
3                          136.750000  ...                     53.593661
4                           88.726562  ...                    252.567306
...                               ...  ...                           ...
17893                      136.429688  ...                    285.931022
17894                      122.554688  ...                      8.297092
17895                      119.335938  ...                      4.595173
17896                      114.507812  ...                    134.238910
17897                       57.062500  ...                      1.429475

[17898 rows x 8 columns]

In [100]:
y

0        0
1        0
2        0
3        0
4        0
        ..
17893    0
17894    0
17895    0
17896    0
17897    0
Name: target_class, Length: 17898, dtype: int64

SPLITTING INTO TRAINING AND TESTING DATA

In [101]:
# split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [102]:
# check the shape of X_train and X_test

X_train.shape, X_test.shape

((14318, 8), (3580, 8))

In [103]:
X_train

       Mean of the integrated profile  ...  Skewness of the DM-SNR curve
3055                       120.640625  ...                     23.528383
10138                      116.554688  ...                     84.846709
3600                        66.773438  ...                     -0.918078
16245                       93.312500  ...                     61.135290
6079                        99.343750  ...                    156.605608
...                               ...  ...                           ...
9225                        68.125000  ...                     51.406361
13123                      131.953125  ...                    342.087592
9845                       133.164062  ...                    181.458434
10799                       98.171875  ...                    122.776632
2732                       106.046875  ...                     58.792128

[14318 rows x 8 columns]

In [104]:
cols = X_train.columns

PREPROCESSING AND TRANSFORMING

In [105]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [106]:
X_train = pd.DataFrame(X_train, columns=[cols])

In [107]:
X_test = pd.DataFrame(X_test, columns=[cols])

In [108]:
X_train.describe()

      Mean of the integrated profile  ... Skewness of the DM-SNR curve
count                   1.431800e+04  ...                 1.431800e+04
mean                    1.986604e-16  ...                 1.214786e-16
std                     1.000035e+00  ...                 1.000035e+00
min                    -4.035499e+00  ...                -1.003411e+00
25%                    -3.896291e-01  ...                -6.627590e-01
50%                     1.587461e-01  ...                -2.059136e-01
75%                     6.267059e-01  ...                 3.256217e-01
max                     3.151882e+00  ...                 1.024613e+01

[8 rows x 8 columns]

IMPORT SVM CLASSIFIER

In [109]:
# import SVC classifier
from sklearn.svm import SVC


# import metrics to compute accuracy
from sklearn.metrics import accuracy_score


# instantiate classifier with default hyperparameters
svc=SVC() 


# fit classifier to training set
svc.fit(X_train,y_train)


# make predictions on test set
y_pred=svc.predict(X_test)


# compute and print accuracy score
print('Model accuracy score with default hyperparameters: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with default hyperparameters: 0.9827

In [110]:
# instantiate classifier with linear kernel and C=1.0
linear_svc=SVC(kernel='linear', C=1.0) 


# fit classifier to training set
linear_svc.fit(X_train,y_train)


# make predictions on test set
y_pred_test=linear_svc.predict(X_test)


# compute and print accuracy score
print('Model accuracy score with linear kernel and C=1.0 : {0:0.4f}'. format(accuracy_score(y_test, y_pred_test)))

Model accuracy score with linear kernel and C=1.0 : 0.9830

In [111]:
y_pred_train = linear_svc.predict(X_train)

y_pred_train

array([0, 0, 1, ..., 0, 0, 0])

EVALUATION OF ACCURACY

In [112]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train)))

Training-set accuracy score: 0.9783

In [113]:
# print the scores on training and test set

print('Training set score: {:.4f}'.format(linear_svc.score(X_train, y_train)))

print('Test set score: {:.4f}'.format(linear_svc.score(X_test, y_test)))

Training set score: 0.9783
Test set score: 0.9830